<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.androidebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".Util.YouApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Login" />
        <activity android:name=".Activity.Register" />
        <activity android:name=".Activity.AboutUs" />
        <activity android:name=".Activity.PrivacyPolice" />
        <activity android:name=".Activity.Profile" />
        <activity android:name=".Activity.EditProfile" />
        <activity android:name=".Activity.SCDetail" />
        <activity android:name=".Activity.SubCategory" />
        <activity android:name=".Activity.AllComment" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.FavouriteDetail" />
        <activity android:name=".Activity.RelatedBook" />
        <activity android:name=".Activity.Search" />
        <activity android:name=".Activity.PDFShow"/>
        <activity
            android:name="com.folioreader.ui.folio.activity.FolioActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
        </activity>
    </application>

</manifest>